.note{
  padding: 15px;
  border-radius: 10px;
  border: solid 1px #333;
  width: 200px;
  text-align: center;
  background: white;
  display: inline-block;
}


.sub-notes{
  margin-left: 10px;
}
button{
  font-size: 16px;
  padding: 3px;
}
